<footer id="page-footer">
    <strong><i class="fa fa-code" aria-hidden="true"></i> {{ app_title }}</strong>
    {%if file_path%}
    <span class="hidden-xs">[ <i class="fa fa-file" aria-hidden="true"></i> {{ file_path }} ]</span>
    {%else%}
    <span class="hidden-xs">[ <i class="fa fa-folder" aria-hidden="true"></i> {{ dirname }} ]</span>
    {%endif%}
    <span class="pull-right">
        <span id="editor_lang" title="Detected Language"></span>&nbsp;&nbsp;&nbsp;Ln&nbsp;<span id="line_num"></span>,&nbsp;Col&nbsp;<span id="column_num"></span>
    </span>
</footer>
