<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand brand-logo" href="{{ url_for('flaskcode.index') }}"><i class="fa fa-code" aria-hidden="true"></i> {{ app_title }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            {% for link in config.FLASKCODE_NAVBAR_MENU %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{link.url}}"><i class="fa fa-fw {{link.icon}}" aria-hidden="true"></i>{{link.title}}</a></li>
            </ul>
            {% endfor %}
        </div>
    </div>
</nav>
    